.formTitle {
  font-size: 58px;
}
.formBox {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 20px;
}
.titleName {
  font-size: 42px;
  margin: 0;
}
.formButton {
  display: block;
  margin: 25px auto;
}
.formButton:active {
  background-color: rgba(137, 43, 226, 0.212);
}
